/* <<<<<<< HEAD
=======
>>>>>>> 2289ea2f7a010d36f6f5972b8b2210a123557047 */
.title {
    color: hsl(0, 0%, 96%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer {
    background-color: hsla(171, 100%, 41%, 0.103);
}
/* <<<<<<< HEAD
}
=======
<<<<<<< HEAD
}
>>>>>>> main
=======
}
>>>>>>> main
>>>>>>> 2289ea2f7a010d36f6f5972b8b2210a123557047 */