#localMapWrapper {
    height: 500px;
}

#localMap {
    width: 100%;
    height: 100%;
}

#clinicInfo{
    overflow-y: scroll;
    display: inline;
}

#clinicInfo h2{
    font-weight: bold;
    font-size: 1.7rem;
    display: inline;
    vertical-align: middle;
}

#clinicInfo img{
    height: 1.7rem;
    vertical-align: middle;
    padding: 0 3%;
}

#search-box-city{
    width: 80%;
}

#search-button{
    text-align: middle;
    color: white;
    background-color: rgb(43, 121, 238);
    margin-left: 0.3vw;
    font-size: large;
    padding: 1vw;
    border-radius: 50%;
}

#search-button:hover{
    background-color: rgb(27, 79, 158);

}

#clinic-rating{
    display: flex;
    font-size: 1rem;
    color: gold;
}

.dark-star{
    color: gray;
}
