*{
    font-family: 'Open Sans', sans-serif;
}

body{
    background: rgba(255, 255, 255, 0) url(../images/back.jpg) no-repeat fixed center ;
    background-size: cover;
}

section.hero.is-primary{
    top: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.footer{
    background-color: rgba(0, 221, 173, 0.9);
}